name: Check

on:
  push:
  pull_request:

jobs:

  Check:
    name: Check
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.14
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Get dependencies
      run: go get -v -t -d ./...

    - name: Build
      run: go build

    - name: Test
      run: |
        go test -coverprofile=coverage.txt -covermode=atomic ./...
        bash <(curl -s https://codecov.io/bash)

    - name: Lint
      uses: golangci/golangci-lint-action@v1
      with:
        version: v1.29

    - name: Deps
      run: |
        go mod tidy
        git diff --exit-code
