name: Release

on:
  release:
    types: [created]

jobs:

  Release:
    name: Release
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.14
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Get dependencies
      run: go get -v -t -d ./...

    - name: Test
      run: go test ./...

    - name: Lint
      uses: golangci/golangci-lint-action@v1
      with:
        version: v1.29

    - name: Deps
      run: |
        go mod tidy
        git diff --exit-code

    - name: Release
      uses: goreleaser/goreleaser-action@v2
      if: "!github.event.release.prerelease"
      with:
        version: latest
        args: release --rm-dist
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        HOMEBREW_TAP_GITHUB_TOKEN: ${{ secrets.CZIBUILDBOT_GITHUB_KEY }}

    - name: Prerelease
      uses: goreleaser/goreleaser-action@v2
      if: "github.event.release.prerelease"
      with:
        version: latest
        args: release --rm-dist -f .goreleaser.prerelease.yml
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
